<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body style="background-color: #f0f0f0; font-family: Arial, sans-serif; padding: 20px;">

<div style="max-width: 600px; margin: auto; background-color: white; padding: 20px; border-radius: 15px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
    <h1 style="color: #ff535b; text-align: center;">Hola [[${name}]],</h1>
    <p style="font-size: 18px; line-height: 1.6; text-align: justify;">
        Estamos emocionados de tenerte con nosotros en [[${domain}]]. Antes de finalizar, necesitamos que confirmes tu cita. Simplemente haz clic en el botón de abajo para hacerlo.
    </p>
    <div style="text-align: center; margin: 30px 0;">
        <a th:href="@{${confirmationLink}}" style="background-color: #ff535b; color: white; text-decoration: none; padding: 15px 25px; font-size: 18px; border-radius: 5px;">Confirmar Cita</a>
    <p style="font-size: 18px; line-height: 1.6; text-align: justify;">
        Si tienes algún problema para confirmar tu cita, por favor no dudes en ponerte en contacto con nosotros.
    </p>
    <p style="font-size: 18px; line-height: 1.6; text-align: justify;">
        ¡Te esperamos!
    </p>
</div>
</div>
</body>
</html>